<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请导入靠离泊计划表</title>
</head>

<body bgcolor="#f5fafe">

<form action="/input_sucess" method="post" enctype="multipart/form-data">
    <div>
        <span>
            <span>上传</span>
            <input type="file" name="plan_file">
        </span>
    </div>

    <div>
        <br>
        请输入天气情况，默认值为实时抓取到的天气数据
        <br>
        今日最大风力（级）：<input type="text" name="max_wind" value="{{max_wind}}">
        <br>
        今日最小能见度：<input type="text" name="min_njd" value="{{minNJD}}">
        <br>
    </div>

    <p><button type="submit">确认</button></p>
</form>

</body>
</html>